:root {
    --bg-global: #252525;
    --bg-dark: #202020;
    --bg-extra-dark: #1b1b1b;
    --bg-footer: #111111;
    --red-color: #E5493A;
    --green-color: #8DC63F;
    --white-color: #FFFFFF;
    --grey-color: #636363;
}